// Base Config
@import './base/colors';
@import "./base/fonts";
@import "./base/mixins";

//Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.scss';

//Shared
@import './shared/header';
@import './shared/nav';

.container {
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
  background-color: var(--surface-100);
}

.p-datatable {
  .p-datatable-thead {
    tr {
      th {
        padding: 2px 8px;
      }
    }
  }
  .p-datatable-tbody {
    tr {
      td {
        padding: 2px 8px;
      }
    }
  }
}

button {
  background-color: $primary-color;
  border: 0;
}

