<div *ngIf="loaded">
  <div class="card">
    <p-table [value]="data" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="login">Login
            <p-sortIcon field="login"></p-sortIcon>
          </th>
          <th pSortableColumn="ip">IP
            <p-sortIcon field="ip"></p-sortIcon>
          </th>
          <th pSortableColumn="ping">Ping
            <p-sortIcon field="ping"></p-sortIcon>
          </th>
          <th pSortableColumn="port139">Port 139
            <p-sortIcon field="port139"></p-sortIcon>
          </th>
          <th pSortableColumn="port2000">Port 2000
            <p-sortIcon field="port2000"></p-sortIcon>
          </th>
          <th pSortableColumn="port3389">Port 3389
            <p-sortIcon field="port3389"></p-sortIcon>
          </th>
          <th pSortableColumn="port4899">Port 4899
            <p-sortIcon field="port4899"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.login}}</td>
          <td>{{item.ip}}</td>
          <td>
            <p-tag
              *ngIf="item.ping"
              icon="pi pi-check"
              severity="success"
              [rounded]="true"
            ></p-tag>
            <p-tag
              *ngIf="!item.ping"
              icon="pi pi-times"
              severity="danger"
              [rounded]="true"
            ></p-tag>
          </td>
          <td>
            <p-tag
              *ngIf="item.p139"
              icon="pi pi-check"
              severity="success"
              [rounded]="true"
            ></p-tag>
            <p-tag
              *ngIf="!item.p139"
              icon="pi pi-times"
              severity="danger"
              [rounded]="true"
            ></p-tag>
          </td>
          <td>
            <p-tag
              *ngIf="item.p2000"
              icon="pi pi-check"
              severity="success"
              [rounded]="true"
            ></p-tag>
            <p-tag
              *ngIf="!item.p2000"
              icon="pi pi-times"
              severity="danger"
              [rounded]="true"
            ></p-tag>
          </td>
          <td>
            <p-tag
              *ngIf="item.p3389"
              icon="pi pi-check"
              severity="success"
              [rounded]="true"
            ></p-tag>
            <p-tag
              *ngIf="!item.p3389"
              icon="pi pi-times"
              severity="danger"
              [rounded]="true"
            ></p-tag>
          </td>
          <td>
            <p-tag
              *ngIf="item.p4899"
              icon="pi pi-check"
              severity="success"
              [rounded]="true"
            ></p-tag>
            <p-tag
              *ngIf="!item.p4899"
              icon="pi pi-times"
              severity="danger"
              [rounded]="true"
            ></p-tag>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div *ngIf="!loaded">
  <p-progressSpinner></p-progressSpinner>
</div>

